<h1>Добро пожаловать в Instapp</h1>

<p class="lead">Регистрируйся ублюдок</p>

<%= link_to "Sign up", new_account_registration_path, class: "btn btn-success" %>
<%= link_to "Sign in", new_account_session_path, class: "btn btn-secondary" %>