.inst-post img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    object-position: center; 
}

.post-meta {
    display: flex;
    justify-content: left;
    align-items: center;
    background: #fff;
    text-align: left;
    font-weight: bold;
    padding: 8px; 
    border: 1px solid #ddd;
    border-radius: 10px 10px 0 0;
}

.pp-post {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right:10px;
    object-fit: cover;
}

.pp-summ {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    margin-right:3px;
    object-fit: cover;
}

.post-details {
    background: #fff;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 0 0 10px 10px;
    margin-bottom: 20px; 
}

.post-actions {
    margin-bottom: 20px;
    display: flex;

    button {
        display: flex;
        object-fit: contain;
        padding: 0; 
        outline: none; 
        border: 0; 
        background-color: transparent;
    }

    i {
        margin-right: 12px;
        color: #ddd;
        cursor: pointer;
    }

    i.active {
        color: rgb(207, 33, 33);
    }

    i:hover {
        color: #999;
    }
}

.like{
    margin: 0;
    width: 40px;
}

.post-comment{
    padding: auto;
}